.js_change_billing {
  cursor: pointer;
}
.a-delete {
    margin-right: 15px;
    margin-top: -1px;
}

.one_kanban{
  margin-bottom: 15px;
  margin-top: 15px;
}
.a-submit-loading{
  color: #fff !important;
}
